ETSService/wsdl/etsinterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://etsservice.bpd.disim.univaq.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ETSServiceImplService" targetNamespace="http://etsservice.bpd.disim.univaq.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://etsservice.bpd.disim.univaq.it/" elementFormDefault="unqualified" targetNamespace="http://etsservice.bpd.disim.univaq.it/" version="1.0">

  <xs:element name="employTravelStatus" type="tns:employTravelStatus"/>

  <xs:element name="employTravelStatusResponse" type="tns:employTravelStatusResponse"/>

  <xs:complexType name="employTravelStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="department" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employTravelStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:travelClass"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="travelClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="travelclasstype" type="tns:travelClassType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="travelClassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ECONOMY"/>
      <xs:enumeration value="BUSINESS"/>
      <xs:enumeration value="FIRST"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="employTravelStatusResponse">
    <wsdl:part element="tns:employTravelStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="employTravelStatus">
    <wsdl:part element="tns:employTravelStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ETSInterface">
    <wsdl:operation name="employTravelStatus">
      <wsdl:input message="tns:employTravelStatus" name="employTravelStatus">
    </wsdl:input>
      <wsdl:output message="tns:employTravelStatusResponse" name="employTravelStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ETSServiceImplServiceSoapBinding" type="tns:ETSInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="employTravelStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="employTravelStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="employTravelStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETSServiceImplService">
    <wsdl:port binding="tns:ETSServiceImplServiceSoapBinding" name="ETSServiceImplPort">
      <soap:address location="http://localhost:6060/ETSService/etsinterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>